include includes/__config.jade
doctype html
html(lang="en")
include includes/_head-meta
body
    .container
      .row
        .col-md-4
          h1= site.name

        ul.col-sm-8.list-inline.text-right(style="margin-top:20px")
          li
            a(href=""): .glyphicon.glyphicon-envelope #{site.news}
          li
            a(herf=""): .glyphicon.glyphicon-leaf #{site.rss}
          li |
          li
            form.form-inline(role="form")
              .form-group
                label.sr-only #{site.email}
                input.form-control(type="email", placeholder="Enter Email")
                button.btn.btn-default(type="submit") Sign Up!

      nav.row
        .col-sm-12
        //- Added small loop
        ul.nav.nav-tabs(style="background: #eee; padding: 20px 10px 0; border-radius: 5px 5px 0 0")
          //- inpoduction the active class would be added via javascript
              then should add books in to the items_var array.
          li.active: a(href="") Books
          each val in itmes_var
            li: a(href="")= val





      .row(style="padding-top: 10px")

        .col-sm-5
          include includes/col-main

        .col-sm-4.col-secondary
          include includes/col-secondary

        .col-sm-3
          include includes/col-tertiary

      .row.footer
        .col-sm-12
          hr(style="border-top-width: 10px")


        +footerunit
        +footerunit
        +footerunit
        +footerunit
        +footerunit
        +footerunit

      .row
        .col-sm-12.text-right.text-muted(style="padding: 20px 0 40px")
          CopyRight #{site.copy}
